extends base

block content
  if posts.length > 0
    div.tags(data-tags=tags.join(','))
    form(action="/search")
      label(for="search") Search
      input.search(type="text" name="term")
      button Search
    each post in posts
      .blog-entry
        a(href="/blog/" + post.postID)
          div
            h3.title #{post.title}
            p.excerpt #{post.excerpt}
            p.post-date #{moment(post.created).format('MMMM D, YYYY')}
  else
    h4 Not a lot to see here.