extends base

block content
  small.word-counter
    span.word-count
    |
    span /
    |
    span.word-target #{config.blog.wordTarget}
  form.create-post(action="/editor/preview" method="POST")
    fieldset
      div
        input.editor-title(type="text" name="title" placeholder="Title" value="Title Goes Here")
      div
        textarea.editor-content(name="content", cols="30", rows="12" placeholder="Text") Text Goes Here
      div
        textarea.editor-excerpt(name="excerpt", cols="30", rows="3" placeholder="Excerpt/Summary (optional)")
      input(type="hidden" name="_csrf" value=csrfToken)
    button Preview