extends base

block content
  form(method="POST" action="/login")
    fieldset
      legend Signing in as #{username}
      div
        input(type="text" name="password" placeholder="Enter access code here")
      input(type="hidden" name="username" value=username )
      input(type="hidden" name="_csrf" value=csrfToken)
    button Login