extends base

block content
  form(method="POST")
    fieldset
      legend Sign In
      div
        input(type="text" name="username" placeholder="Enter username here")
      input(type="hidden" name="_csrf" value=csrfToken)
    button Login