extend base
block content
  form.new-podcast(action="?_csrf=" + csrfToken method="POST" enctype="multipart/form-data")
    fieldset
      div
        input(type="text" name="title" placeholder="Title" value="Title Goes Here" required)
      div
        input(type="text" name="subtitle" placeholder="Subtitle (optional)")
      div
        input(type="text" name="website" placeholder="Website (optional)")
      div
        input(type="text" name="author" placeholder="Creator (optional)")
      div
        input(type="text" name="slug" placeholder="Slug (optional)" pattern="^[a-z][a-z0-9-]{2,19}$" title="3-20 lowercase alphanumeric characters or dashes. Must start with a letter.")
      div
        textarea(type="text" name="description" row=3 placeholder="Description (optional)")
      div
        label(for="cover") Upload Cover Art (optional)
        input(type="file" name="cover" accept=".png")
      div
        label(for="explicit1") Explicit
        input#explicit1(type="radio" name="explicit" value="yes" checked)
        label(for="explicit2") Clean
        input#explicit2(type="radio" name="explicit" value="no")
    input(type="hidden" name="_csrf" value=csrfToken)
    button Create