extend base
block content
  h3 Add an episode
  form.add-episode(action="/podcast/" + podcast.slug + "?_csrf=" + csrfToken method="POST" enctype="multipart/form-data")
    fieldset
      div
        input(type="text" name="title" placeholder="Title" value="Episode title goes here")
      div
        input(type="text" name="description" placeholder="Description")
      div
        label(for="media") Media
        input(type="file" name="media" accept=".mp3")
      input(type="hidden" name="podcast" value=podcast.id)
      div
        button Add