html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#fff020")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC")
    link(rel="stylesheet", href="/assets/style.css")
    block meta
      title #{pkg.name}
      meta(name="description" content="A super awesome modular CMS for specialized content publishing.")
  body
    h2 
      a(href="/") #{pkg.name}
    if user
      p Logged in as #{user.displayName || user.username}&nbsp;-&nbsp;
        a(href="/logout") (Logout)
        |
        span &nbsp;=>&nbsp;
        |
        a(href="/admin") Admin
        |
        span &nbsp;=>&nbsp;
        |
        a(href="/editor") Blog Editor
    block content
    footer Crafted by Zero Daedalus &copy; 2018
      unless user
        |
        span &nbsp;&bull;&nbsp;
        |
        a(href="/login") Log in