extends base

block content
  each post in posts
    .blog-entry
      a(href="/blog/" + post.postID)
        div
          h3.title #{post.title}
          p.excerpt #{post.excerpt}
          p.post-date #{moment(post.created).format('MMMM D, YYYY')}