extends base

block content
  h3 Create New Post
  form.create-post(action="/editor/preview" method="POST")
    fieldset
      div
        label(for="title") Title
        input(type="text" name="title" placeholder="Enter title here")
      div
        label(for="content") Post
        textarea(name="content", cols="30", rows="5" placeholder="Enter your post here")
      div
        label(for="seoTitle") Meta Title (optional)
        input(type="text" name="seoTitle" placeholder="Dummy Data")
      div
        label(for="seoDesc") Meta Description (optional)
        textarea(name="seoDesc", cols="30", rows="3" placeholder="Dummy Data")
    button Preview