extends base

block content
  form(method="POST")
    fieldset
      legend Please enter the access code

      div
        label(for="accessCode") Access Code
        input(type="text" name="password" placeholder="Type Access Code Here and press enter")
      div
        input(type="hidden" name="username" value="username")