extends base

block content
  form(method="POST")
    fieldset

      div
        label(for="username") Username
        input(type="text" name="username" placeholder="Username")
      div
        label(for="password") Access Code
        input(type="text" name="password" placeholder="Type Access Code Here and press enter")
    button Login