.post-date {
  text-align: right;
  color: var(--gray);
  font-size: .75rem;
}

.blog-entry {
  padding: 1rem;
  transition: var(--transition);
  &:hover,
  &:active {
    background-color: var(--blue);
    .post-date {
      color: var(--black);
    }
  }
  a {
    color: var(--white);
  }
}

.return {
  text-align: right;
}

.word-counter {
  display: block;
  text-align: right;
}

.editor-title {
  font-weight: bold;
  font-size: 1.25em;
}

.target-hit {
  color: var(--blue);
}