:root {
  --black: #000;
  --white: #fff;
  --gray: #505050;
  --blue: #00958c;
  --font-cursive: 'Alfa Slab One', cursive;
  --font-sans: 'Roboto', sans-serif;
  --transition: .2s;
}

html {
  line-height: 1;
  font-size: 30px;
  font-family: var(--font-sans);
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: var(--transition);
  &:hover {
    color: var(--white);
  }
}
p + p {
  margin-top: .5rem;
}

body {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-cursive);
  margin: 1rem 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

fieldset {
  outline: 0;
  border: 0;
  div {
    margin: .5rem 0;
  }
}

legend {
  font-size: 2rem;
  margin: .5rem 0;
}

input,
textarea {
  display: block;
  margin-left: .5rem;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: transparent;
  border: 0;
  color: var(--gray);
  width: 100%;
  resize: none;
  appearance: none;
}

footer {
  font-size: 0.5rem;
  clear: both;
  margin: 1rem 0;
  color: var(--gray);
}

button {
  font-size: 1rem;
  border: 0;
  border-radius: 0;
  background-color: var(--blue);
  color: var(--black);
  font-family: var(--font-family);
  padding: .5rem 1rem;
  font-weight: bold;
}

nav {
  color: var(--gray);
  font-size: .5rem;
  margin: .5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  margin: 1rem;
  padding-left: 1rem;
  border-left: .5rem solid var(--gray);
  color: var(--gray);
}